PORT=8000
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost,https://pycon.guide

SSLIFY_DISABLE=True

# To create the database locally: createdb pyconguide
DATABASE_URL=postgres://localhost/pyconguide

SOCIAL_AUTH_GITHUB_KEY=
SOCIAL_AUTH_GITHUB_SECRET=
