asgi-redis==1.0.0
asgiref==1.0.0
autobahn==0.17.0
channels==0.17.3
click==6.6
constantly==15.1.0
contextlib2==0.5.4
cssselect==1.0.0
daphne==0.15.0
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.10.4
django-debug-toolbar==1.6
django-redis==4.6.0
django-rq==0.9.4
django-sslify==0.2.7
incremental==16.10.1
lxml==3.6.4
msgpack-python==0.4.8
oauthlib==2.0.1
psycopg2==2.6.2
PyJWT==1.4.2
python-dateutil==2.6.0
python-decouple==3.0
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2016.10
raven==5.32.0
redis==2.10.5
requests==2.12.3
requests-oauthlib==0.7.0
rq==0.7.0
six==1.10.0
sqlparse==0.2.2
Twisted==16.6.0
txaio==2.5.2
vobject==0.9.3
whitenoise==3.2.2
zope.interface==4.3.2
