@font-face {
  font-family: 'vinyl';
  src: url('../fonts/vinyl.eot'); /* IE9 Compat Modes */
  src: url('../fonts/vinyl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/vinyl.woff') format('woff'), /* Modern Browsers */
       url('../fonts/vinyl.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/vinyl.svg#7adfd2e465e5a5494cfebbc2416928d9') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'adelle';
  src: url('../fonts/adelle.eot'); /* IE9 Compat Modes */
  src: url('../fonts/adelle.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/adelle.woff') format('woff'), /* Modern Browsers */
       url('../fonts/adelle.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/adelle.svg#f7cee5eaf81ca6750bedc48055a4dffb') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

.fa {
  padding: 0.6em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}