{% load staticfiles %}

<div class="row align-center footer large-collapse medium-collapse small-collapse">
    <div class="column small-0 large-4 footer__item">
        <img src="{% static 'img/logo.png' %}" class="isl-logo">
    </div>
    <div class="column small-12 medium-6 large-4 footer__item">
        <a href="https://isl.co" class="link link--footer">
            <img src="{% static 'img/isl-logo-white.png' %}" class="isl-logo">
            <br><br>
            <div class="link__text">PyCon Guide is powered by ISL</div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-4 footer__item">

        <a href="https://twitter.com/istrategylabs" target="_blank">
            <i class="fa fa-3x fa-twitter-square"></i>
        </a>
        <a href="https://www.instagram.com/istrategylabs/" target="_blank">
            <i class="fa fa-3x fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/istrategylabs/" target="_blank">
            <i class="fa fa-3x fa-facebook-square"></i>
        </a>
    </div>
</div>

