.footer__wrapper {
    background-color: $black;
    display: flex;
    justify-content: center;


    .footer {
        padding: 3em 0;
        width: 100%;
    }

    .footer__item {
        text-align: center;
        align-self: center;
        color: $floralwhite;
        font-size: rem-calc(14);

        a:link, a:visited {
            color: $floralwhite;
            text-decoration: none;
            outline: 0;
        }

        .link--footer:hover {
            text-decoration: underline;
        }
    }
}

.isl-logo {
    height: 4.5em;
}
